body
{
    margin: 0;
}
#clicker
{
    display: flex;
    position: relative;
    background-color: darkslateblue;
    width: 100vw;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
#click
{
    position: relative;
    width: 19rem;
    height: 19rem;
}
button:active
{
    top: 2%;
    right: 1%;
    width: 21rem;
    height:21rem;
}

button
{
    width: 20rem;
    height: 20rem;
    background-color: white;
   position: absolute;
    top: 3%;
    right: 3%;
    border-radius: 50%;
   border: none;
   transition: 0.2s;
   font-size: 34px;
   color: black;
}
  @media only screen and (max-width: 700px) 
  {
    button
    {
      width: 17rem;
      height: 17rem;
    }
    button:active
    {
        width: 18rem;
        height: 18rem;
    }
    
  }